[Unit]
Description=SMTP Relay
After=network.target

[Service]
WorkingDirectory=/home/user/smtprelay
ExecStart=/home/user/smtprelay/SmtpRelayServer
Type=simple
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target